<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ $css := resources.Get "css/styles.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css.Permalink }}">
  </head>

<div>
    <a id="skip-nav" class="sr-only" href="#maincontent">Skip to main content</a>
    <a href="{{ .Site.Home.RelPermalink }}">
        <img id="logo" src="{{ .Site.BaseURL }}images/misc/logo.webp" alt="Logo">
      </a>
</div>
{{ partial "menu.html" (dict "menuID" "main" "page" .) }}