<section>
    <div class="social-icons">
        {{ range .Site.Params.socialIcons }}
        {{ $label := replace .name "-" " " | title }}
        <a href="{{ .url }}" target="_blank" rel="noopener noreferrer" aria-label="{{ $label }}" class="tooltip">
            {{ if or (eq .name "substack") (eq .name "google-scholar") }}
              {{ partial (printf "svg/%s.html" .name) }}
            {{ else }}
              <i data-feather="{{ .name }}" aria-hidden="true"></i>
            {{ end }}
            <span class="tooltip-text">{{ $label }}</span>
        </a>
        {{ end }}
    </div>
    <script>
        feather.replace();
    </script>
</section>
